.panel {
  background-color: darkgray;
  margin-top: 50px;
}

.col10 {
  width: 10%;
  float: left;
}

.col80 {
  width: 80%;
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.pagination {
  display: inline-block;
}

.child {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd; /* Gray */
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

