<h1>It appears jukebox playback is paused</h1>
<h3>It could be because it is after 0030, and the jukebox is disabled until 1030.</h3>
<p></p>
<h3>It may also be because someone is playing a game on the projector, and the playback is paused so they can hear their game.</h3>
<p></p>
<h3>Don't worry, you can still make requests, and vote on songs.</h3>
<p></p>
<h3>To get rid of this warning, wait until the jukebox playback has resumed and refresh the page, or request another song.</h3>
<p></p>
<h3>If you frequently see this warning when the Jukebox is working normally, update your system time and refresh the page.</h3>
