#modal-content-wrapper {
  margin-left: 10%;
  margin-top: 5%;
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-rows: repeat(1fr, 3);
}

#modal-title {
  font-size: 22px;
}

#modal-footer {
  //margin-left: 50px;
  justify-self: center;
  align-self: center;
}

#modal-cancel-button {
  background-color: black;
  color: white;
  margin-left: 50px;
}

#modal-confirm-button {
  background-color: black;
  color: white;
  margin-right: 50px;
}
